**/node_modules
temp_files/
/_fresh
/binaries
.git/

# Ignore scripts, except web.sh
scripts/**
!scripts/web.sh
!scripts/fix_fresh_route_order.ts
!scripts/generate_dashboard_fixtures.ts
logs/

.env*

# Ignore everything in db except models, db.ts, and helpers.ts
db/**
!db/models/
!db/models/*
!db/db.ts
!db/helpers.ts
