**/node_modules
temp_files/
/_fresh
/binaries
.git/

# Ignore scripts, except web.sh
scripts/**
!scripts/web.sh

.env*

# Ignore everything in db except models, db.ts, and helpers.ts
db/**
!db/models/
!db/models/*
!db/db.ts
!db/helpers.ts