* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("Ubuntu-R.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("Ubuntu-B.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url("Ubuntu-L.ttf");
}

:root {
  --color-primary: #00A859;
  --color-text-primary: #000000DE;
  --std-margin: 15px;
}

nav {
  /* background-color: var(--color-primary); */
  color: white;
/* 
  display: flex;
  align-items: center; */

  /* padding: 0 var(--std-margin); */
}

nav a.back {
  margin-right: 5px;
}

svg.back-arrow {
  height: 30px;
}

.calendar-links {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: var(--std-margin);
}

a.calendar-link {
  display: flex;
  align-items: center;

  justify-content: flex-end;

  color: var(--color-text-primary);
  gap: 10px;
  text-decoration: none;
}

.green-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: white;

  display: grid;
  place-items: center;
}

.green-button svg {
  height: 24px;
}