svg .more,
svg .internet,
svg .bottom-left {
  fill: #164176;
}

svg:hover .more,
svg:hover .internet,
svg:hover .bottom-left {
  fill: #fa759e;
}

svg .human,
svg .top-right {
  fill: #fa759e;
}

svg:hover .human,
svg:hover .top-right {
  fill: #164176;
}
