
:root {
  --heart-fade-increment: 0.15s;
}

.fade-in-heart > path:nth-child(1) { animation: fadeInHeart1 ease-in forwards 6s }
.fade-in-heart > path:nth-child(2) { animation: fadeInHeart2 ease-in forwards 6s }
.fade-in-heart > path:nth-child(3) { animation: fadeInHeart3 ease-in forwards 6s }
.fade-in-heart > path:nth-child(4) { animation: fadeInHeart4 ease-in forwards 6s }
.fade-in-heart > path:nth-child(5) { animation: fadeInHeart5 ease-in forwards 6s }
.fade-in-heart > path:nth-child(6), .fade-in-heart > path:nth-child(7) { animation: fadeInHeart6 ease-in forwards 6s }
.fade-in-heart > path:nth-child(8), .fade-in-heart > path:nth-child(9) { animation: fadeInHeart7 ease-in forwards 6s }


/* Animates the wifi heart */
.fade-in-heart > path {
  opacity: 0;
  scale: 0;
  transform-origin: center bottom;
}

/* I'm sure there's a better way to do this, but we manually animate the curves of the wifi heart, starting with the bottom */
@keyframes fadeInHeart1 {
  0% { opacity: 1; scale: 0 }
  12.5% { opacity: 1; scale: 0.9 }
  /* 25% { opacity: 1; scale: 1 }
  37.5% { opacity: 1; scale: 1 }
  50% { opacity: 1; scale: 1 }
  62.5% { opacity: 1; scale: 1 }
  75% { opacity: 1; scale: 1 }
  87.5% { opacity: 1; scale: 1 } */
  100% { opacity: 1; scale: 1 }
}

@keyframes fadeInHeart2 {
  0% { opacity: 0; scale: 0 }
  12.5% { opacity: 0.1; scale: 0.5 }
  25% { opacity: 1; scale: 1 }
  37.5% { opacity: 1; scale: 1 }
  50% { opacity: 1; scale: 1 }
  62.5% { opacity: 1; scale: 1 }
  75% { opacity: 1; scale: 1 }
  87.5% { opacity: 1; scale: 1 }
  100% { opacity: 1; scale: 1 }
}

@keyframes fadeInHeart3 {
  0% { opacity: 0; scale: 0 }
  12.5% { opacity: 0; scale: 0.33 }
  25% { opacity: 0; scale: 0.67 }
  37.5% { opacity: 1; scale: 1 }
  50% { opacity: 1; scale: 1 }
  62.5% { opacity: 1; scale: 1 }
  75% { opacity: 1; scale: 1 }
  87.5% { opacity: 1; scale: 1 }
  100% { opacity: 1; scale: 1 }
}



/* 
.fade-in-heart > path:nth-child(1) { animation-delay: 0s }
.fade-in-heart > path:nth-child(2) { animation-delay: 0.15s }
.fade-in-heart > path:nth-child(3) { animation-delay: 0.30s }
.fade-in-heart > path:nth-child(4) { animation-delay: 0.45s }
.fade-in-heart > path:nth-child(5) { animation-delay: 0.60s }
.fade-in-heart > path:nth-child(6), .fade-in-heart > path:nth-child(7) { animation-delay: 0.75s }
.fade-in-heart > path:nth-child(8), .fade-in-heart > path:nth-child(9) { animation-delay: 0.90s } */


@keyframes ping {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 0.35;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.wifi-heart-final-circle {
  opacity: 0;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) forwards;
  animation-delay: 1.15s;
}